.footer {
    background-color: var(--background);
    border-top: var(--stroke-size) solid var(--headline);
    padding: 1em 0;
    display: flex;
    justify-content: center;

    p {
        line-height: calc(30 * var(--res));
        color: var(--headline);
        font-size: calc(22 * var(--res));
        font-weight: 200;
        text-align: center;
        padding-bottom: 1em;
    }

    ul {
        display: flex;
        justify-content: space-evenly;

        li {

            a {
                color: var(--headline);
                text-decoration: none;
                font-size: calc(24 * var(--res));
                font-weight: 200;

                &:hover {
                    color: var(--tertiary);
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    .footer ul {
        flex-direction: column;
        align-items: center;
    }
}