.nav {

    a {
        color: var(--headline);
    }

    display: flex;
    position: absolute;
    top: 0px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 3vh 4vw;
    width: 100%;
    background-color: var(--background);
    color: var(--headline);
    border-bottom: 3px solid var(--headline);
}

.nav-links {
    display: flex;

    li {
        margin: 0 25px;
        font-size: 2.5vh;
        transition: 0.2s;
    }

    li:hover {
        color: var(--tertiary);
    }

    .nav-active li {
        color: var(--tertiary);
    }
}