.btn {
    height: 75px;
    width: 75px;
    background: var(--background);
    border: 3px solid var(--stroke);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.icon {
    width: 40px;
}