.content {
    background-color: var(--background);
    display: flex;
    flex-direction: column;

    .title-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;

        img {
            width: 100vw;
        }

        .title {
            position: absolute;
            background-color: rgba($color: #fff, $alpha: 0.8);
            box-shadow: 0em 0 0.2vh var(--headline);
            border: 3px solid var(--headline);
            padding: 4vh 0;
            margin: 0px 50px;
            border-radius: 50vh;

            h1 {
                padding: 0.5em;
                font-size: calc(64 * var(--res));
                color: var(--headline);
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    h2 {
        color: var(--headline);
        padding: 20px 0;
        text-align: center;
        line-height: 1.5em;
    }

    .grid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        border-top: 3px solid var(--headline);

        .element {
            display: flex;
            flex-direction: column;
            align-items: center;

            .content {
                h2 {
                    font-size: calc(32 * var(--res));
                }

                p {
                    font-size: calc(24 * var(--res));
                    padding: 0 calc(20 * var(--res));
                    margin-bottom: calc(40 * var(--res));
                    text-align: center;
                }
            }

        }

        #element1,
        #element2 {
            border-bottom: 3px solid var(--headline);
        }

        #element1,
        #element3 {
            border-right: 3px solid var(--headline);
        }
    }
}