@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*reset propreties*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*scrollbar*/
::-webkit-scrollbar {
    background: transparent;
    width: .75em;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: var(--headline);
    border-radius: 100vw;
}

body {
    font-family: 'Montserrat';
    overflow: overlay;
}

/*Responsive content*/

html {
    --res: calc(0.01 * 10vmin);
}

// @media screen and (max-width:600px) {
//     body {
//         font-family: system-ui, -apple-system;
//     }
// }